@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

*{
    margin: 0;
    outline: none;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'Joan', serif;
    font-size: 18px;
}