.disk{
    padding: 10px;
    max-width: 1280px;
    margin: 40px auto 0px;
    .btn__block{
        margin-bottom: 40px;
        width: 160px;
        display: flex;
        justify-content: space-between;
    }
    .dirs{

    }
}